html, body {
    margin: 0;
    font-family: 'Cabin', sans-serif !important;
    background-color: rgba(194, 246, 255, 0.061);
    z-index: -5555;
    background-size: cover;
    background-position: center;
    background-image: url('images/sunset.jpg');
    background-repeat: no-repeat;
}

main{
    z-index: 99999;
}

/* IMAGEM DE FUNDO  */
.background_img{

    z-index: -999;
    position: absolute;
    overflow: hidden;
    max-height: 140%;
    width: 100%;
    object-fit: cover;
    /*
    position: absolute;
    z-index: 3;
    margin: 0;
    max-width: 100%;
    opacity: 0.9;
    height: 400px;
    width: 100%;
    object-fit: cover; */

}

.background_img_form{
    z-index: -999;
    position: absolute;
    overflow: hidden;
    max-height: 140%;
    width: 100%;
    object-fit: cover;
}

/*
/* BARRA DE NAVEGAÇÃO DO TOPO 
#nav{
    display: flex; 
    background-color: rgb(0, 94, 184);
    height:  60px;
    max-width: 100%;
    margin: 0px;
    border: 2px solid white;
    z-index: 99999;
}*/

/* COLAR AO LADO ESQUERDO PARTE DA BANDEIRA E LETRAS 
.nav_left{
    display: flex;
    margin-left: 0px;
}*/

/* CENTRAR O MENU 
.nav_center{
    width: 500px;
    display: flex;
    margin: auto;
    margin-right: -3px;
    height: 91px;
}*/

/* BOTÕES DO MENU 
.nav_bar {
    font-family: 'Cabin', sans-serif !important;
    font-size: 30px;
    font-weight: 500;
    width: 150px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}*/
/*
.nav_bar:hover{
    background-color: rgb(255, 233, 0);
    color: rgb(0, 94, 184) !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_bar_a:hover{
    color: rgb(0, 94, 184) !important;
}

.nav_bar_a{
    color: white;
    text-decoration: none;
}

.nav_bar_a:visited{
    text-decoration: none;
    

   
}*/



/* BANDEIRA DA MADEIRA */
.nav_flag{
    width: 90px;
    height: 58px;
    border-right: 2px solid white;
}

/* TEXTO AO LADO DA BANDEIRA 
.nav_text{
    margin-left: 0px;
    margin-top: 8px;
    margin-left:10px;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: white;
}
*/


/* HEADER DA TATI */
.text_nav{
    font-family: 'Rock Salt', cursive !important;
    font-family: 'Rock Salt', cursive !important;
    font-size: 27px;
    color: rgb(194, 55, 55);
    margin-top: -17px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 1px;
    background-image: url(imagemfundo.jpg);
    background-size: cover;
}

.navbar{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    transition: 0.5s;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer; 
    border-radius: 10px;
    transition: 0.5s;
}

.navbar ul li:hover{
    background: rgb(139, 0, 0);
}














/* HOME PAGE */
.intro{
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 180px;
    background-color: none;
    margin-bottom: -12px;
    z-index: 9999;
}

.text_intro{
    margin-top: 105px;
    width: 680px;
    margin: auto;
    text-align: center;
    background: linear-gradient(90deg, rgba(238, 253, 255, 0.1) 0%, rgba(193, 216, 219, 0.1) 100%);  
    backdrop-filter: blur(5px);
    z-index: 9999;
    border-radius: 17px;

}

.places{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: black;
    margin-top: 50px;
    margin-bottom: -40px;
}


/*ESTRUTURA*/
.home_imgs{
    width: 50%;
    height: 161px;
    font-size: 15px;

}

.text_cont{
    width: 50%;
    margin: 0px;
    margin-left: 7px;
}

.container_2{
    display: flex;
    vertical-align: middle;
    width: 600px;
    max-width: 400px;
    font-size: 16px;
    background-color: rgba(190, 190, 190, 0.642);
    margin: 50px;
    height: 161px;
    overflow: hidden;
    box-shadow: 0 0 1em ;
}

.container_2:hover{
    transform: scale(1.3);
    opacity: 1;
}

.text_cont:hover{
    opacity: 1;
}

.container{
    width: 915px;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 8px;
    z-index: 9999;
}

 .location{
    font-size: 20px;
    font-weight: 700;
}



.CTA{
    margin: auto;
    margin-top: 50px;
    width: 678px;
    text-align: center;
    font-size: 23px;
    border: 2px solid rgba(194, 55, 55);
    border-radius: 9px;
    color: white;
    box-shadow: 1em ;
    padding: 20px 20px 20px 20px;
    border-radius: 17px;
    background: linear-gradient(90deg, rgba(238, 253, 255, 0.1) 0%, rgba(193, 216, 219, 0.1) 100%);
    backdrop-filter: blur(5px);
}

.button_main{
    padding: 5px 20px 5px 20px;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    color: rgb(139, 0, 0);
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 25px;
}

.button_main:hover{
    background-color: rgb(139, 0, 0);
    color: white;
}











/* Página Formulário */

/* ESTILO DO FORMULÁRIO */
.form1{
    width: 600px;
    display: block;
    border: 2px #ffffff;
    border-radius: 50px;
    background-color: #ffffff, 0.5; /* ÚLTIMO VALOR É RELATIVO A TRANSPARÊNCIA */
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 1px white;
    font-family: 'Cabin', sans-serif;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffff;
    background: linear-gradient(90deg, rgba(238, 253, 255, 0.1) 0%, rgba(193, 216, 219, 0.1) 100%); 
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.form_result{
    width: 600px;
    display: block;
    border: 2px #ffffff;
    border-radius: 50px;
    background-color: #ffffff, 0.5; /* ÚLTIMO VALOR É RELATIVO A TRANSPARÊNCIA */
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px white;
    font-family: 'Cabin', sans-serif;
    margin: auto;
    margin-top: 50px;
    padding-top: 15px;
    background-color: #ffffff;
    background: linear-gradient(90deg, rgba(238, 253, 255, 0.1) 0%, rgba(193, 216, 219, 0.1) 100%);  
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.results{
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
    padding: 10px 25px 10px 25px;
    background-color: rgb(139, 0, 0);
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ÁREA À VOLTA DO FORM */
fieldset{
    border: white;
    border-radius: 20px;
}


/* ESTILO DO SLIDER "RANGE" NO FORMULÁRIO */
/* WEBKIT REFERE-SE AO BROWSER UTILIZADO PELA PESSOA */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #677570b7;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }


  /* BUTÃO SUBMIT DO FORMULÁRIO */
  .button_submit{
      width: 110px;
      height: 35px;
      font-family: 'Cabin', sans-serif;
      font-weight: 800;
      border-radius: 25px;
      box-shadow:  2px 1px whitesmoke;
      cursor: pointer;
  }

  .button_submit:hover{
      transform: scale(1.3);
      background-color: rgb(41, 159, 238);
      color: white;
  }

   /* TEXTO ANTES DO FORMULÁRIO */
   .text_form{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    width: 700px;
    margin: auto;
    margin-top: 155px;
   }
   






 /* Footer */ 
footer {
    background-color: #666666;
    bottom: 0px;
    width: 100%;
    min-height: 95px;
    border-top: 5px solid #ca2924;
    margin-top: 60px;
}

.footerflex{
    display: flex;
    justify-content: space-between;
}

.linkIscap {
    margin-left: 10px;
    margin-bottom: 10px;
}
.footerimg {
    width: 167px;
}

.footerflex a {
    text-decoration: none;
}

.footerflex p {
    color: white;
    margin-top: 0;
}

.footerflex a:visited {
    color: white;
}

.fbLogo, .liLogo, .igLogo{
    border-radius: 42px;
    width: 46px;
    max-width: 46px;
}


/* CONTACTOS */
.contactos{
    font-size: 24px;
    margin-top: 105px;
    width: 680px;
    margin: auto;
    text-align: center;
    background: linear-gradient(90deg, rgba(238, 253, 255, 0.1) 0%, rgba(193, 216, 219, 0.1) 100%);  
    backdrop-filter: blur(5px);
    z-index: 9999;
    border-radius: 17px;
    margin-top: 300px;
    margin-bottom: 220px;
    font-weight: 600;
}

.contactos a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
}

#gmap_canvas{
    width: 100%;
    height: 450px;
    margin-bottom: 35px;
}

.copyright{
    background-color: #d2d2d2;;
    color: rgb(139, 0, 0);
    text-align: center;
}
